/artifacts/
/artifacts-ci/
/artifacts-ci-urm/
/renpy-switch.elf
/raw/
/renpy-source/
/renpy_sdk/
/pygame_sdl2-source/
/renpy_clear/
/private/
/build-switch/
/.env
/build-validation.log
*.keys
*.nsp
*.nca

artifacts-renpy7/
artifacts-renpy8/
*.rpa
*.rpyc
*.save
